<a href="https://colab.research.google.com/github/NikhilJ2712/Data-Science/blob/main/Case_Study_01_Titanic_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importing Data Manipulation Library
import pandas as pd
import numpy as np
# Importing Data Visualization Library
import seaborn as sns
import matplotlib.pyplot as plt
# Import FilterWarnings Library
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing Data using Pandas Function
df = pd.read_csv('Titanic.csv')
# It will print Shuffle Data
df.sample(frac = 1)
# df.head() # it will print top five rows
# df.tail() # it will print bottom five rows

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
138,male,16.0,0,0,9.2167,S,Third,man,True,0
301,male,NaN,2,0,23.2500,Q,Third,man,False,1
169,male,28.0,0,0,56.4958,S,Third,man,True,0
784,male,25.0,0,0,7.0500,S,Third,man,True,0
132,female,47.0,1,0,14.5000,S,Third,woman,False,0
...,...,...,...,...,...,...,...,...,...,...
151,female,22.0,1,0,66.6000,S,First,woman,False,1
411,male,NaN,0,0,6.8583,Q,Third,man,True,0
261,male,3.0,4,2,31.3875,S,Third,child,False,1
781,female,17.0,1,0,57.0000,S,First,woman,False,1
327,female,36.0,0,0,13.0000,S,Second,woman,True,1