In [1]:
# Tuple Defination

tup = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [2]:
tup.index(10)

0

In [4]:
# Tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [6]:
# Example:

# O/p : (70,80)
tup[3][2][2][1:]

# O/p : 70,80
output =tup[3][2][2][1:]
print(*output)

70 80

In [ ]:
# Conditional Statement
'''  
if condition == True:
   Perform operation inside the loop
else:
Perform this opeation

Note : 1) = Called as Assignment Opearator 2) == Called as Comparison  Opearator

'''
num = 10

if num == 10:
    print('The value is 10 ')
else:
    print('The value is other than 10')

The value is 10

In [6]:
# Check the given string is Palindrom or not

text = 'dad'
text1 = text[::-1]

if text == text1:
   print('The Given String is Palindrom ')
else:
   print('The Given String is Not Palindrom')

The Given String is Palindrom

In [ ]:
'''

 if condition:
   statement
elif condition:
   statement
else:
   statement
   
'''

In [10]:
'''
marks > 80  : Best Student
Marks between 60 to 79 : Good Student
Marks between 50 to 59 : Average Student
Marks < 49 : Poor Student

'''
marks = float (input('Enter Marks  of the Student:'))

if (marks > 80):
    print('Best Student')
elif (marks < 80 and marks > 60):
    print('Good Student')
elif (marks < 60 and marks > 50):
    print('Average Student')
else:
    print('Poor Student')

Best Student

In [ ]:
''' 
balance = 10000
withdraw = Amount 
threshould = 2000

'''

In [14]:
balance = 10000
withdraw = float(input("Enter amount to withdraw: "))
threshold = 2000

if withdraw >= balance:
    print('Insufficient Balance')
if withdraw <= balance:
    new_balance = balance - withdraw
    if new_balance >= 2000:
        print('New Balance is', new_balance)
    else :
        print('Check Your Transaction, Once Again')

Check Your Transaction, Once Again

In [15]:
# For Loop - it will perform iteration
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [16]:
for i in range(1,11):
    print(i,end = "")

12345678910

In [21]:
''' 
*
**
***
****
*****

'''
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [24]:
for i in range(1,6):
    print('*'*i**2)

*
****
*********
****************
*************************

In [1]:
for i in range(1,6):
    print('*'*i*i)

*
****
*********
****************
*************************

In [ ]:
''' 
range(start,stop,step)

'''

for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
# Using While loop
num = 5
i = 0
while i<num:
    print(i)
    i = i+1

0
1
2
3
4

In [12]:
num = 5
i = 0
while i<=num:
    print(i)
    i = i+1

0
1
2
3
4
5

In [2]:
num =10
count = 0
while count <= num:
    if count%2 ==0:
        print(count)
    count = count + 1

0
2
4
6
8
10

In [1]:
num =10
count = 0
while count <= num:
    if count%2 !=0:
        print(count)
    count = count + 1

1
3
5
7
9

In [4]:
for i in range (0,20,2):
    pass
    print(i)

0
2
4
6
8
10
12
14
16
18

In [2]:
for i in range (0,20,2):
    continue  #skip
    print(i)

In [3]:
for i in range (0,20,2):
    break  
    print(i)

In [7]:
for i in range(0,15):
    if i<=5:
        print(i)
    continue

0
1
2
3
4
5

In [8]:
for i in range(0,15):
    if i<=5:
        print(i)
    break

0

In [9]:
for i in range(0,15):
    if i<=5:
        print(i)
        break
    continue

0

In [10]:
for i in range(0,10):
    for j in range(10,20):
        print(i)
        print(j)

0
10
0
11
0
12
0
13
0
14
0
15
0
16
0
17
0
18
0
19
1
10
1
11
1
12
1
13
1
14
1
15
1
16
1
17
1
18
1
19
2
10
2
11
2
12
2
13
2
14
2
15
2
16
2
17
2
18
2
19
3
10
3
11
3
12
3
13
3
14
3
15
3
16
3
17
3
18
3
19
4
10
4
11
4
12
4
13
4
14
4
15
4
16
4
17
4
18
4
19
5
10
5
11
5
12
5
13
5
14
5
15
5
16
5
17
5
18
5
19
6
10
6
11
6
12
6
13
6
14
6
15
6
16
6
17
6
18
6
19
7
10
7
11
7
12
7
13
7
14
7
15
7
16
7
17
7
18
7
19
8
10
8
11
8
12
8
13
8
14
8
15
8
16
8
17
8
18
8
19
9
10
9
11
9
12
9
13
9
14
9
15
9
16
9
17
9
18
9
19

In [11]:
for i in range(0,10):
    for j in range(10,20):
        print(j)

10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19
10
11
12
13
14
15
16
17
18
19

In [12]:
for i in range(0,10):
    for j in range(10,20):
        print(i)

0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
5
6
6
6
6
6
6
6
6
6
6
7
7
7
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9
9

In [ ]:
''' 
num1
num2
choice = +,-,*,/

num1 =
num2 =
choice =

if choice == '+':
   addition
if choice == '-':
   substraction

else:
   check the entered choice

'''

In [4]:
num1 = float(input('Enter the num1: '))
num2 = float(input('Enter the num1: '))

choice = input('Select the operator +,-,*,/')

if choice == '+':
    num3 = num1 + num2
    print(f'The addition of {num1} and {num2}:',num3)

elif choice == '-':
    
    num3 = num1 - num2
    print(f'The substraction of {num1} and {num2}:',num3)

else:
    print('check the entered choice')

The addition of 12.0 and 13.0: 25.0