In [1]:
# Tuple Defination

tup = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [2]:
tup.index(10)

0

In [3]:
# Tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [9]:
# Example:
# O/p : 70,80
output=tup[3][2][2][1:]
print(*output)

70 80

In [ ]:
# Conditional Statement
'''  
if condition == True:
   Perform operation inside the loop
else:
Perform this opeation

Note : 1) = Called as Assignment Opearator 2) == Called as Comparison  Opearator

'''
num = 10

if num == 10:
    print('The value is 10 ')
else:
    print('The value is other than 10')

The value is 10

In [6]:
# Check the given string is Palindrom or not

text = 'dad'
text1 = text[::-1]

if text == text1:
   print('The Given String is Palindrom ')
else:
   print('The Given String is Not Palindrom')

The Given String is Palindrom

In [ ]:
'''

 if condition:
   statement
elif condition:
   statement
else:
   statement
   
'''

In [10]:
'''
marks > 80  : Best Student
Marks between 60 to 79 : Good Student
Marks between 50 to 59 : Average Student
Marks < 49 : Poor Student

'''
marks = float (input('Enter Marks  of the Student:'))

if (marks > 80):
    print('Best Student')
elif (marks < 80 and marks > 60):
    print('Good Student')
elif (marks < 60 and marks > 50):
    print('Average Student')
else:
    print('Poor Student')

Best Student

In [ ]:
''' 
balance = 10000
withdraw = Amount 
threshould = 2000

'''

In [14]:
balance = 10000
withdraw = float(input("Enter amount to withdraw: "))
threshold = 2000

if withdraw >= balance:
    print('Insufficient Balance')
if withdraw <= balance:
    new_balance = balance - withdraw
    if new_balance >= 2000:
        print('New Balance is', new_balance)
    else :
        print('Check Your Transaction, Once Again')

Check Your Transaction, Once Again

In [15]:
# For Loop - it will perform iteration
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [21]:
''' 
*
**
***
****
*****

'''
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [24]:
for i in range(1,6):
    print('*'*i**2)

*
****
*********
****************
*************************

In [25]:
for i in range(1,6):
    print('*'*i*i)

*
****
*********
****************
*************************